# Datasets

Rana, R. S. (2023). Job Description Dataset. Kaggle. 

https://www.kaggle.com/datasets/ravindrasinghrana/job-description-dataset

Bhawal, S. (2023). Resume Dataset. Kaggle. 

https://www.kaggle.com/datasets/snehaanbhawal/resume-dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
job_data_path = r"D:\Data_and_AI\Datasets\Job Description Dataset\job_descriptions.csv"
resume_data_path = r"D:\Data_and_AI\Datasets\Resume Classification Dataset\dataset.csv"

In [3]:
job_df= pd.read_csv(job_data_path)
job_df.head()

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Contact,Job Title,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile
0,1089843540111562,5 to 15 Years,M.Tech,$59K-$99K,Douglas,Isle of Man,54.2361,-4.5481,Intern,26801,...,001-381-930-7517x737,Digital Marketing Specialist,Social Media Manager,Snagajob,Social Media Managers oversee an organizations...,"{'Flexible Spending Accounts (FSAs), Relocatio...","Social media platforms (e.g., Facebook, Twitte...","Manage and grow social media accounts, create ...",Icahn Enterprises,"{""Sector"":""Diversified"",""Industry"":""Diversifie..."
1,398454096642776,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,...,461-509-4216,Web Developer,Frontend Web Developer,Idealist,Frontend Web Developers design and implement u...,"{'Health Insurance, Retirement Plans, Paid Tim...","HTML, CSS, JavaScript Frontend frameworks (e.g...","Design and code user interfaces for websites, ...",PNC Financial Services Group,"{""Sector"":""Financial Services"",""Industry"":""Com..."
2,481640072963533,0 to 12 Years,PhD,$61K-$104K,Macao,"Macao SAR, China",22.1987,113.5439,Temporary,84525,...,9687619505,Operations Manager,Quality Control Manager,Jobs2Careers,Quality Control Managers establish and enforce...,"{'Legal Assistance, Bonuses and Incentive Prog...",Quality control processes and methodologies St...,Establish and enforce quality control standard...,United Services Automobile Assn.,"{""Sector"":""Insurance"",""Industry"":""Insurance: P..."
3,688192671473044,4 to 11 Years,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,...,+1-820-643-5431x47576,Network Engineer,Wireless Network Engineer,FlexJobs,"Wireless Network Engineers design, implement, ...","{'Transportation Benefits, Professional Develo...",Wireless network design and architecture Wi-Fi...,"Design, configure, and optimize wireless netwo...",Hess,"{""Sector"":""Energy"",""Industry"":""Mining, Crude-O..."
4,117057806156508,1 to 12 Years,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,53944,...,343.975.4702x9340,Event Manager,Conference Manager,Jobs2Careers,A Conference Manager coordinates and manages c...,"{'Flexible Spending Accounts (FSAs), Relocatio...",Event planning Conference logistics Budget man...,Specialize in conference and convention planni...,Cairn Energy,"{""Sector"":""Energy"",""Industry"":""Energy - Oil & ..."

In [4]:
job_df.shape

(1615940, 23)

In [5]:
job_df.columns

Index(['Job Id', 'Experience', 'Qualifications', 'Salary Range', 'location',
       'Country', 'latitude', 'longitude', 'Work Type', 'Company Size',
       'Job Posting Date', 'Preference', 'Contact Person', 'Contact',
       'Job Title', 'Role', 'Job Portal', 'Job Description', 'Benefits',
       'skills', 'Responsibilities', 'Company', 'Company Profile'],
      dtype='object')

In [6]:
res_df = pd.read_csv(resume_data_path)
res_df.head()

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [7]:
res_df.shape

(2484, 4)

In [8]:
res_df.columns

Index(['ID', 'Resume_str', 'Resume_html', 'Category'], dtype='object')

In [9]:
res_df['Category'].unique()

array(['HR', 'DESIGNER', 'INFORMATION-TECHNOLOGY', 'TEACHER', 'ADVOCATE',
       'BUSINESS-DEVELOPMENT', 'HEALTHCARE', 'FITNESS', 'AGRICULTURE',
       'BPO', 'SALES', 'CONSULTANT', 'DIGITAL-MEDIA', 'AUTOMOBILE',
       'CHEF', 'FINANCE', 'APPAREL', 'ENGINEERING', 'ACCOUNTANT',
       'CONSTRUCTION', 'PUBLIC-RELATIONS', 'BANKING', 'ARTS', 'AVIATION'],
      dtype=object)

## Changing some categories to more wide-range ones to simplify dataset mapping

In [10]:
res_df['Category'] = res_df['Category'].replace('BPO', 'OPERATIONS-ADMIN')
res_df['Category'] = res_df['Category'].replace('AGRICULTURE', 'AGRICULTURE-ENVIRONMENT')
res_df['Category'] = res_df['Category'].replace(['ARTS', 'DESIGNER'], 'DESIGN-CREATIVE')
res_df['Category'] = res_df['Category'].replace('ENGINEERING', 'ENGINEERING-SCIENCE')

print("\nUpdated res_df categories after renames/merges:\n", res_df['Category'].unique())
print("\nValue counts for updated res_df categories:\n", res_df['Category'].value_counts())

Updated res_df categories after renames/merges:
 ['HR' 'DESIGN-CREATIVE' 'INFORMATION-TECHNOLOGY' 'TEACHER' 'ADVOCATE'
 'BUSINESS-DEVELOPMENT' 'HEALTHCARE' 'FITNESS' 'AGRICULTURE-ENVIRONMENT'
 'OPERATIONS-ADMIN' 'SALES' 'CONSULTANT' 'DIGITAL-MEDIA' 'AUTOMOBILE'
 'CHEF' 'FINANCE' 'APPAREL' 'ENGINEERING-SCIENCE' 'ACCOUNTANT'
 'CONSTRUCTION' 'PUBLIC-RELATIONS' 'BANKING' 'AVIATION']

Value counts for updated res_df categories:
 Category
DESIGN-CREATIVE            210
INFORMATION-TECHNOLOGY     120
BUSINESS-DEVELOPMENT       120
ADVOCATE                   118
ENGINEERING-SCIENCE        118
ACCOUNTANT                 118
CHEF                       118
FINANCE                    118
AVIATION                   117
FITNESS                    117
SALES                      116
BANKING                    115
CONSULTANT                 115
HEALTHCARE                 115
CONSTRUCTION               112
PUBLIC-RELATIONS           111
HR                         110
TEACHER                    102
APPAREL                     97
DIGITAL-MEDIA               96
AGRICULTURE-ENVIRONMENT     63
AUTOMOBILE                  36
OPERATIONS-ADMIN            22
Name: count, dtype: int64

## Exporting Consultant resumes to excel to categorize manually

In [11]:
consultant_resumes = res_df[res_df['Category'] == "CONSULTANT"]
consultant_resumes.to_csv(r"data/consultant_resumes.csv", index=False)

In [12]:
consultant_updates_df = pd.read_csv(r"data/consultant_resumes_separated.csv")

In [13]:
# Set 'ID' as index for both DataFrames to use df.update()
res_df = res_df.set_index('ID')
consultant_updates_df = consultant_updates_df.set_index('ID')

In [14]:
# Update the 'Category' column in res_df using the values from consultant_updates_df
# This will overwrite the original 'CONSULTANT' category with the new, specific ones.
res_df.update(consultant_updates_df['Category'].to_frame())
res_df['Category'] = res_df['Category'].str.strip()

In [15]:
print("Updated res_df categories:\n", res_df['Category'].unique())
print("\nValue counts for updated res_df categories:\n", res_df['Category'].value_counts())

Updated res_df categories:
 ['HR' 'DESIGN-CREATIVE' 'INFORMATION-TECHNOLOGY' 'TEACHER' 'ADVOCATE'
 'BUSINESS-DEVELOPMENT' 'HEALTHCARE' 'FITNESS' 'AGRICULTURE-ENVIRONMENT'
 'OPERATIONS-ADMIN' 'SALES' 'ACCOUNTANT' 'FINANCE' 'DIGITAL-MEDIA'
 'CONSTRUCTION' 'ENGINEERING-SCIENCE' 'PUBLIC-RELATIONS' 'AUTOMOBILE'
 'CHEF' 'APPAREL' 'BANKING' 'AVIATION']

Value counts for updated res_df categories:
 Category
DESIGN-CREATIVE            210
INFORMATION-TECHNOLOGY     159
HEALTHCARE                 133
ENGINEERING-SCIENCE        126
SALES                      125
FINANCE                    124
ACCOUNTANT                 122
BUSINESS-DEVELOPMENT       121
ADVOCATE                   121
CHEF                       118
FITNESS                    117
AVIATION                   117
BANKING                    115
HR                         114
CONSTRUCTION               114
PUBLIC-RELATIONS           112
DIGITAL-MEDIA              105
TEACHER                    103
APPAREL                     97
AGRICULTURE-ENVIRONMENT     63
AUTOMOBILE                  36
OPERATIONS-ADMIN            32
Name: count, dtype: int64

In [16]:
job_df['Job Title'].unique()

array(['Digital Marketing Specialist', 'Web Developer',
       'Operations Manager', 'Network Engineer', 'Event Manager',
       'Software Tester', 'Teacher', 'UX/UI Designer', 'Wedding Planner',
       'QA Analyst', 'Litigation Attorney', 'Mechanical Engineer',
       'Network Administrator', 'Account Manager', 'Brand Manager',
       'Social Worker', 'Social Media Coordinator',
       'Email Marketing Specialist', 'HR Generalist', 'Legal Assistant',
       'Nurse Practitioner', 'Account Director', 'Software Engineer',
       'Purchasing Agent', 'Sales Consultant', 'Civil Engineer',
       'Network Security Specialist', 'UI Developer', 'Financial Planner',
       'Event Planner', 'Psychologist', 'Electrical Designer',
       'Data Analyst', 'Technical Writer', 'Tax Consultant',
       'Account Executive', 'Systems Administrator',
       'Database Administrator', 'Research Analyst', 'Data Entry Clerk',
       'Registered Nurse', 'Investment Analyst', 'Speech Therapist',
       'Sales Manager', 'Landscape Architect', 'Key Account Manager',
       'UX Researcher', 'Investment Banker', 'IT Support Specialist',
       'Art Director', 'Software Developer', 'Project Manager',
       'Customer Service Manager', 'Procurement Manager',
       'Substance Abuse Counselor', 'Supply Chain Analyst',
       'Data Engineer', 'Accountant', 'Sales Representative',
       'Environmental Consultant', 'Electrical Engineer',
       'Systems Engineer', 'Art Teacher', 'Human Resources Manager',
       'Inventory Analyst', 'Legal Counsel', 'Database Developer',
       'Procurement Specialist', 'Systems Analyst', 'Copywriter',
       'Content Writer', 'HR Coordinator', 'Business Development Manager',
       'Java Developer', 'Supply Chain Manager', 'Event Coordinator',
       'Family Nurse Practitioner', 'Front-End Engineer',
       'Customer Success Manager', 'Procurement Coordinator',
       'Urban Planner', 'Architectural Designer', 'Financial Analyst',
       'Environmental Engineer', 'Back-End Developer',
       'Structural Engineer', 'Market Research Analyst',
       'Customer Service Representative', 'Customer Support Specialist',
       'Business Analyst', 'Social Media Manager', 'Family Lawyer',
       'Chemical Analyst', 'Network Technician', 'Interior Designer',
       'Software Architect', 'Nurse Manager', 'Veterinarian',
       'Process Engineer', 'IT Manager', 'Quality Assurance Analyst',
       'Pharmaceutical Sales Representative', 'Office Manager',
       'Architect', 'Physician Assistant', 'Marketing Director',
       'Front-End Developer', 'Research Scientist', 'Executive Assistant',
       'HR Manager', 'Marketing Manager', 'Public Relations Specialist',
       'Financial Controller', 'Investment Advisor', 'Aerospace Engineer',
       'Marketing Analyst', 'Paralegal', 'Landscape Designer',
       'Web Designer', 'Occupational Therapist', 'Legal Advisor',
       'Marketing Coordinator', 'Dental Hygienist', 'SEM Specialist',
       'SEO Specialist', 'Pediatrician', 'QA Engineer', 'Data Scientist',
       'Financial Advisor', 'Personal Assistant', 'SEO Analyst',
       'Network Analyst', 'Mechanical Designer', 'Marketing Specialist',
       'Graphic Designer', 'Finance Manager', 'Physical Therapist',
       'Product Designer', 'Administrative Assistant', 'Brand Ambassador',
       'Project Coordinator', 'Product Manager', 'IT Administrator',
       'Sales Associate', 'Chemical Engineer', 'Legal Secretary',
       'Market Analyst'], dtype=object)

### Categories from Resume dataset with no strong JD matches or are too specific to job titles. FITNESS, AUTOMOBILE, CHEF, APPAREL - These are unlikely to be mapped from job titles, as their titles are not generic enough to catch here without high false positives. They remain as categories primarily for resume classification.

In [17]:
from mapping import map_job_to_category

In [18]:
# Apply the mapping function to the job_df
job_df['Mapped_Category'] = job_df['Job Title'].apply(map_job_to_category)

print("\nValue counts for Mapped_Category in job_df:\n", job_df['Mapped_Category'].value_counts())

Value counts for Mapped_Category in job_df:
 Mapped_Category
INFORMATION-TECHNOLOGY    323458
OPERATIONS-ADMIN          197683
DIGITAL-MEDIA             173841
DESIGN-CREATIVE           152470
SALES                     146429
HEALTHCARE                114978
UNCATEGORIZED             107901
ENGINEERING               107333
FINANCE                    76081
ADVOCATE                   73227
HR                         41340
CONSTRUCTION               24442
TEACHER                    21123
BANKING                    13854
ACCOUNTANT                 10517
PUBLIC-RELATIONS           10498
AVIATION                   10441
BUSINESS-DEVELOPMENT       10324
Name: count, dtype: int64

In [19]:
# Check how many remain uncategorized
uncategorized_jobs = job_df[job_df['Mapped_Category'] == 'UNCATEGORIZED']
print(uncategorized_jobs['Job Title'].value_counts())

Job Title
Purchasing Agent             17286
Substance Abuse Counselor    10531
Quality Assurance Analyst    10531
Brand Manager                10514
Social Worker                10386
Psychologist                 10332
Research Scientist           10319
Data Entry Clerk              7072
Systems Analyst               7037
Product Manager               6876
Market Analyst                3541
IT Administrator              3476
Name: count, dtype: int64

## We modify the mapping function to handle uncategorized job titles

In [20]:
from mapping import map_job_to_category_modified

In [21]:
# Apply the mapping function to the job_df
job_df['Mapped_Category'] = job_df['Job Title'].apply(map_job_to_category_modified)

print("\nValue counts for Mapped_Category in job_df:\n", job_df['Mapped_Category'].value_counts())

Value counts for Mapped_Category in job_df:
 Mapped_Category
INFORMATION-TECHNOLOGY     327135
OPERATIONS-ADMIN           228917
DIGITAL-MEDIA              198323
DESIGN-CREATIVE            152470
SALES                      146429
HEALTHCARE                 146227
ENGINEERING-SCIENCE        107340
FINANCE                     76081
ADVOCATE                    73227
HR                          41340
CONSTRUCTION                24442
TEACHER                     21123
AGRICULTURE-ENVIRONMENT     17252
BANKING                     13854
ACCOUNTANT                  10517
PUBLIC-RELATIONS            10498
AVIATION                    10441
BUSINESS-DEVELOPMENT        10324
Name: count, dtype: int64

## Which columns to remove?
### job_df:
* "Experience" and "Work Type" may become useful for error analysis later, so we should keep them, but not include them in the matching process.
* We can combine "Skills" with "Job Title" and Job Description" for similarity comparison.
* "Responsibilities" column can be useful, but it isn't necessary for the resume matching process, so we can remove it along with all other columns.
### re_df:
* Keep "Resume_str" and "Category"

In [22]:
print(job_df.isnull().sum())

Job Id                 0
Experience             0
Qualifications         0
Salary Range           0
location               0
Country                0
latitude               0
longitude              0
Work Type              0
Company Size           0
Job Posting Date       0
Preference             0
Contact Person         0
Contact                0
Job Title              0
Role                   0
Job Portal             0
Job Description        0
Benefits               0
skills                 0
Responsibilities       0
Company                0
Company Profile     5478
Mapped_Category        0
dtype: int64

In [23]:
print(res_df.isnull().sum())

Resume_str     0
Resume_html    0
Category       0
dtype: int64

In [24]:
# Create the new 'Job Details' column by concatenating Job Description, skills, and Job Title.

job_df['Job Details'] = job_df['Job Title'] + " " + job_df['skills'] + " " + job_df['Job Description']

# Define columns to keep for job_df based on the refined strategy
columns_to_keep_job = [
    'Job Details', # The main text for NLP
    'Mapped_Category',       # The target category
    'Experience',            # Kept for potential later analysis
    'Work Type'              # Kept for potential later analysis
]

# Perform the column removal for job_df
job_df = job_df[columns_to_keep_job]
print(f"Removed columns from job_df.\nNew columns: {job_df.columns.tolist()}")

Removed columns from job_df.
New columns: ['Job Details', 'Mapped_Category', 'Experience', 'Work Type']

In [25]:
# Perform the column removal for res_df
res_df = res_df[['Resume_str', 'Category']]
print(f"Removed columns from res_df. New columns: {res_df.columns.tolist()}")

Removed columns from res_df. New columns: ['Resume_str', 'Category']

In [26]:
# Optional: Display info to confirm memory reduction and column types
print("\njob_df info after column operations:")
job_df.info()
print("\nres_df info after column operations:")
res_df.info()

job_df info after column operations:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615940 entries, 0 to 1615939
Data columns (total 4 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Job Details      1615940 non-null  object
 1   Mapped_Category  1615940 non-null  object
 2   Experience       1615940 non-null  object
 3   Work Type        1615940 non-null  object
dtypes: object(4)
memory usage: 49.3+ MB

res_df info after column operations:
<class 'pandas.core.frame.DataFrame'>
Index: 2484 entries, 16852973 to 37473139
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Resume_str  2484 non-null   object
 1   Category    2484 non-null   object
dtypes: object(2)
memory usage: 58.2+ KB

In [27]:
# Save dataframes for future use

res_df.to_csv(r"data\res_data.csv", index=False)
job_df.to_csv(r"data\job_data.csv", index=False)